.registro{
	color: #000;
}

.login{
	color: #000;
}

.landing{
	padding-top: 5%;
}

.fondo{
	background: url("../fondo.png");
	background-size: cover;	
}

.logo{
	margin-top: 0%;
	height: 40px;
	width: 100px;
	 position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.carrusel{
	padding-top: 3%;
}

.barra{
	background: #839192;
}

.cuadro{
	background: #7F8C8D;
}

.linea{
	background: white;
}